<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>

    <meta charset="UTF-8">
    <title>Generate Answer</title>

    <link rel="Stylesheet" href="../static/CSS/main.css">
    <!-- {#
    links for the bootstrap css
    #}*/-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--   {#    links for the bootstrap JS#}-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {#    Bootstrap icons #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>

<nav class="navigation navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid container" id="nav-container">
        {#      <a class="navbar-brand " href="/">#}
        {#        <img src="../static/Images/LOGO-3.png" width="200" height="200" alt="">MathQ#}
        {#      </a>#}
                <a class="navbar-brand" href="/">
                    <div class="nd-wrap">
                    <div id="logo-icon-section">
                        <img src="../static/Images/LOGO-4.png" alt="" width="60" height="60" id="logo-icon" class="d-inline-block ">
                    </div>
                    <div id="logo-name-section">
                        <span class="logo-title"><span class="logo-title-first">Math</span><span class="logo-title-second">Q</span></span>
                    </div>
                    </div>
                </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="nav-links collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a id="nav_link" class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item active">
                <a id="nav_link" class="nav-link" href="generate_answer">Generate Answers <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a id="nav_link" class="nav-link" href="mathq_help">Help</a>
              </li>

            </ul>
          </div>
        </div>
    </nav>

    <div class="main-body">
        <!--
{#        <div class="back-img"></div>#}
-->
        <div class="main-content">
            <div class="main-section" id="main-content-generate-answer">
                <br><br>
                <h1>Answer generated from <span class="logo-title"><span class="logo-title-first">Math</span><span class="logo-title-second">Q</span></span></h1>

                <div class="form-section">
                    <form action="" method="POST">
                        <div id="form-grp" class="form-group">
                            <div class="generated-section">

                                <div class="generated-question-section">
                                    <h4>Your Question : </h4>
                                    <div class="display-question" name="display-question">{{question}}</div>
                                </div>
                                <div class="answer-section">
                                    <div class="generated-category-section">
                                        <h4>Category : </h4>
                                        <div class="display-category" name="display-category">{{ category }}</div>
                                    </div>

                                    <div class="generated-answer-section">
                                        <h4>Answer : </h4>
                                        <div class="display-answer" name="display-answer">{{ answer }}</div>
                                    </div>
                                </div>
                            </div>

                            <a href="generate_answer">
                                <p class="try-again-btn">Try Again</p>
                            </a>
                        </div>


                    </form>

                </div>
            </div>

        </div>

        <div class="footer">Copyright © 2022 All rights reserved by MathQ. Design and developed by Shenal Anthony.</div>
    </div>

</body>
</html>